<form phx-change="search" class="search-form">
  <%= text_input :search_field, :query, placeholder: "Search", autofocus: true, "phx-debounce": "300" %>
</form>
<div class="flex flex-wrap">
  <%= for set <- @sets do %>
    <%= render("card.html", set: set) %>
  <% end %>
</div>
